<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template_encconf.xhtml">

        <ui:define name="body">
            <div style="padding-top: 50px;">
                <div class="section-title" align="center">
                    <h3>Actualización de Conferencias</h3>
                    <p>Bienvenido encargado de conferencias</p>
                </div>
                <h:form id="forma2">
                    <p:growl id="msgs" showDetail="true"/>
                    <p:dataTable id="datalist" value="#{registroConferencias.conferencias}" var="item"
                                 selectionMode="single" selection="#{conferenciasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idconferencias}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 editable="true" 
                                 style="margin-bottom:20px">
                        <f:facet name="header">
                            Conferencias registradas
                        </f:facet>

                        <p:ajax event="rowSelect"   update=""/>
                        <p:ajax event="rowUnselect" update=""/>

                        <p:column headerText="Nombre de la conferencia">
                            <f:facet name="output">
                                <h:outputText value="#{item.nombreconferencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreconferencia}" style="width:100%"/>
                        </p:column>
                        <p:column headerText="Nombre del ponente">
                            <f:facet name="output">
                                <h:outputText value="#{item.nombreponente}" />
                            </f:facet>
                            <h:outputText value="#{item.nombreponente}" style="width:100%"/>
                        </p:column>
                        <p:column headerText="Fecha de la conferencia">
                            <f:facet name="output">
                                <h:outputText value="#{item.fechaconferencia}">
                                    <f:convertDateTime pattern="MM/dd/yyyy"/>
                                </h:outputText>
                            </f:facet>
                            <h:outputText value="#{item.fechaconferencia}" style="width: 100%">
                                <f:convertDateTime pattern="MM/dd/yyyy"/>
                            </h:outputText>               
                        </p:column>
                        <p:column headerText="Tipo de conferencia">
                            <f:facet name="output">
                                <h:outputText value="#{item.tipoconferencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoconferencia}" style="width: 100%"/>
                        </p:column>
                        <p:column headerText="Opciones">
                            <p:commandButton id="editButton" icon="ui-icon-pencil" value="Actualizar" 
                                             update=":ConferenciasEditForm" oncomplete="PF('ConferenciasEditDialog').show()"  
                                             style="border-bottom-style: solid; background-color: yellowgreen;"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="Datos de la sala" 
                                             update=":ConferenciasViewForm" oncomplete="PF('ConferenciasViewDialog').show()"  
                                             style="border-bottom-style: solid; background-color: yellowgreen;"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Eliminar" 
                                             actionListener="#{conferenciasController.destroy}"  
                                             update=":growl,datalist"
                                             style="border-bottom-style: solid; background-color: yellowgreen;"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <ui:include src="EditarConferencia.xhtml"/>
                <ui:include src="InfoConferencia.xhtml"/>
                <div class="container">
                    <div class="row">
                        <div class="section-title" align="center">
                            <h3>Actualización de conferencias</h3>
                            <p>Bienvenido encargado de conferencias</p>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>


