<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConferenciasEditDlg" widgetVar="ConferenciasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditConferenciasTitle}">
            <h:form id="ConferenciasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conferenciasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_nombreconferencia}" 
                                       for="nombreconferencia" 
                                       />
                        <p:inputText id="nombreconferencia"
                                     value="#{conferenciasController.selected.nombreconferencia}" 
                                     title="#{bundle.EditConferenciasTitle_nombreconferencia}" 
                                     required="true" 
                                     requiredMessage="Campo obligatorio"
                                     validatorMessage="El nombre de la conferencia no admite caracteres especiales
                                     y tiene una longitud de 40 caracteres">
                            <p:tooltip for="nombreconferencia" value="Por ejemplo: Conferencia 1"/>
                            <f:validateLength minimum="4" maximum="40"/>
                            <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_descripcion}" 
                                       for="descripcion"
                                       />
                        <p:inputTextarea id="descripcion" 
                                         value="#{conferenciasController.selected.descripcion}" 
                                         title="#{bundle.EditConferenciasTitle_descripcion}" 
                                         required="true"
                                         requiredMessage="Campo obligatorio"
                                         validatorMessage="La descripcion de la conferencia no admite caracteres especiales
                                         y tiene una longitud maxima de 100 caracteres">
                            <f:validateLength minimum="4" maximum="100"/>
                            <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/> 
                        </p:inputTextarea>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_nombreponente}" 
                                       for="nombreponente" 
                                       />
                        <p:inputText id="nombreponente" 
                                     value="#{conferenciasController.selected.nombreponente}" 
                                     title="#{bundle.EditConferenciasTitle_nombreponente}"
                                     required="true"
                                     requiredMessage="Campo obligatorio"
                                     validatorMessage="El nombre del ponente no admite caracteres especiales
                                     y tiene una longitud de 40 caracteres">
                            <p:tooltip for="nombreponente" value="Por ejemplo: Conferencia 1"/>
                            <f:validateLength minimum="4" maximum="40"/>
                            <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_tipoconferencia}" 
                                       for="tipoconferencia"
                                       />
                        <p:inputText id="tipoconferencia" 
                                     value="#{conferenciasController.selected.tipoconferencia}"
                                     title="#{bundle.EditConferenciasTitle_tipoconferencia}" 
                                     required="true"
                                     requiredMessage="Campo obligatorio"
                                     validatorMessage="El tipo de conferencia no admite caracteres especiales
                                     y tiene una longitud de 40 caracteres">
                            <p:tooltip for="tipoconferencia" value="Por ejemplo: Conferencia 1"/>
                            <f:validateLength minimum="4" maximum="200"/>
                            <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_fechaconferencia}" 
                                       for="fechaconferencia" 
                                       />
                        <p:calendar id="fechaconferencia" 
                                    pattern="MM/dd/yyyy" 
                                    value="#{conferenciasController.selected.fechaconferencia}" 
                                    title="#{bundle.EditConferenciasTitle_fechaconferencia}"  
                                    showOn="button"
                                    mindate="#{validarCalendario.fechaActual}"
                                    disabledWeekends="true"
                                    />
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_horainicio}" 
                                       for="horainicio" 
                                       />
                        <p:calendar id="horainicio" 
                                    timeZone="GMT-6"
                                    pattern="HH:mm" 
                                    timeOnly="true" 
                                    value="#{conferenciasController.selected.horainicio}" 
                                    title="#{bundle.EditConferenciasTitle_horainicio}"  
                                    showOn="button"
                                    minHour="8"
                                    maxMinute="0">
                            <p:ajax event="keyup" update="horaFinal" />
                        </p:calendar>
                        <p:outputLabel value="Hora de Terminacion" 
                                       for="horaFinal" 
                                       />
                        <p:calendar id="horaFinal" 
                                    timeZone="GMT-6"
                                    pattern="HH:mm" 
                                    timeOnly="true" 
                                    value="#{conferenciasController.selected.horafin}" 
                                    title="Hora de Finalizacion"  
                                    maxMinute="0"
                                    disabled="true">
                            <p:ajax event="keyup" update="horaFinal" />

                        </p:calendar>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_salasidSalas}" 
                                       for="salasidSalas"
                                       />
                        <p:selectOneMenu id="salasidSalas" 
                                         value="#{conferenciasController.selected.salasidSalas}" 
                                         >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"
                                          />
                            <f:selectItems value="#{salasController.itemsAvailableSelectOne}"
                                           var="salasidSalasItem"
                                           itemValue="#{salasidSalasItem}"
                                           />
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conferenciasController.update}" value="#{bundle.Save}"
                                     onclick="ConferenciasEditDialog.hide()" oncomplete="handleSubmit(args, 'ConferenciasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ConferenciasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>