<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConferenciasViewDlg" widgetVar="ConferenciasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewConferenciasTitle}">
            <h:form id="ConferenciasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conferenciasController.selected != null}">
                        <h:outputText value="#{bundle.ViewConferenciasLabel_idconferencias}"/>
                        <h:outputText value="#{conferenciasController.selected.idconferencias}" title="#{bundle.ViewConferenciasTitle_idconferencias}"/>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_nombreconferencia}"/>
                        <h:outputText value="#{conferenciasController.selected.nombreconferencia}" title="#{bundle.ViewConferenciasTitle_nombreconferencia}"/>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_tipoconferencia}"/>
                        <h:outputText value="#{conferenciasController.selected.tipoconferencia}" title="#{bundle.ViewConferenciasTitle_tipoconferencia}"/>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_descripcion}"/>
                        <h:outputText value="#{conferenciasController.selected.descripcion}" title="#{bundle.ViewConferenciasTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_fechaconferencia}"/>
                        <h:outputText value="#{conferenciasController.selected.fechaconferencia}" title="#{bundle.ViewConferenciasTitle_fechaconferencia}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_horainicio}"/>
                        <h:outputText value="#{conferenciasController.selected.horainicio}" title="#{bundle.ViewConferenciasTitle_horainicio}">
                            <f:convertDateTime pattern="HH:mm" timeZone="GMT-6" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_horafin}"/>
                        <h:outputText value="#{conferenciasController.selected.horafin}" title="#{bundle.ViewConferenciasTitle_horafin}">
                            <f:convertDateTime pattern="HH:mm" timeZone="GMT-6"/>
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_nombreponente}"/>
                        <h:outputText value="#{conferenciasController.selected.nombreponente}" title="#{bundle.ViewConferenciasTitle_nombreponente}"/>
                        <h:outputText value="#{bundle.ViewConferenciasLabel_salasidSalas}"/>
                        <h:outputText value="#{conferenciasController.selected.salasidSalas}" title="#{bundle.ViewConferenciasTitle_salasidSalas}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ConferenciasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
