<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template_encconf.xhtml">
        <h:outputStylesheet library="css" name="estilos.css"/>
        <ui:define name="body">
            <div style="padding-top: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="section-title" align="center">
                            <h3>Registro de conferencias</h3>
                            <p>Bienvenido encargado de conferencias</p>
                        </div>
                    </div>
                </div>
                <br/>
                <p:growl id="msgs" showDetail="true"/>
                <h:form id="forma5">
                    <div class="form-group" align="center">
                        <p:panelGrid columns="2">

                            <h:outputLabel class="section-title" for="nombreConferencias" value="Nombre de la conferencia"></h:outputLabel>
                            <p:inputText id="nombreConferencias" 
                                         required="true" 
                                         value="#{registroConferencias.nombreConf}" 
                                         requiredMessage="Campo obligatorio"
                                         validatorMessage="El nombre de la conferencia no admite caracteres especiales
                                         y tiene una longitud de 40 caracteres">
                                <p:tooltip for="nombreConferencias" value="Por ejemplo: Conferencia 1"/>
                                <f:validateLength minimum="4" maximum="40"/>
                                <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                            </p:inputText>
                            <h:outputLabel class="section-title" for="nombrePonente">Nombre del Ponente</h:outputLabel>
                            <p:inputText id="nombrePonente" 
                                         required="true" 
                                         value="#{registroConferencias.nombrePonente}"
                                         requiredMessage="Campo obligatorio"
                                         validatorMessage="El nombre del ponente no admite caracteres especiales
                                         y tiene una longitud de 40 caracteres">
                                <p:tooltip for="nombrePonente" value="Por ejemplo: Conferencia 1"/>
                                <f:validateLength minimum="4" maximum="40"/>
                                <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                            </p:inputText>
                            <h:outputLabel class="section-title" for="descripcionConferencia">Descripcion de la Conferencia.</h:outputLabel>
                            <p:inputTextarea id="descripcionConferencia" 
                                             required="true" 
                                             value="#{registroConferencias.descripcion}" 
                                             requiredMessage="Campo obligatorio"
                                             validatorMessage="La descripcion de la conferencia no admite caracteres especiales
                                             y tiene una longitud maxima de 100 caracteres">
                                <f:validateLength minimum="4" maximum="100"/>
                                <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/> 
                            </p:inputTextarea>
                            <h:outputLabel class="section-title" for="fechaconferencia">Fecha de la conferencia</h:outputLabel>
                            <p:calendar id="fechaconferencia"
                                        pattern="MM/dd/yyyy"
                                        mindate="#{validarCalendario.fechaActual}"
                                        disabledWeekends="true"
                                        value="#{registroConferencias.fechaCon}"
                                        title="#{bundle.EditConferenciasTitle_fechaconferencia}"  showOn="button"/>
                            <h:outputLabel class="section-title" for="tipoConf">Tipo de la conferencia</h:outputLabel>
                            <p:inputText id="tipoConf" 
                                         required="true" 
                                         value="#{registroConferencias.tipoConf}"
                                         requiredMessage="Campo obligatorio">
                                <p:tooltip for="tipoConf" value="Por ejemplo: Conferencia 1"/>
                                <f:validateLength minimum="4" maximum="200"/>
                            </p:inputText>

                            <h:outputLabel class="section-title">Hora de inicio</h:outputLabel>
                            <p:calendar id="horainicio" 
                                        pattern="HH:mm"
                                        timeOnly="true"
                                        value="#{registroConferencias.horai}"  
                                        minHour="8"
                                        maxMinute="0"
                                        showOn="button">
                                <p:ajax event="keyup" update="horafin" />
                            </p:calendar>                               
                            <h:outputLabel class="section-title" >Hora de Terminacion</h:outputLabel>
                            <p:calendar id="horafin" 
                                        pattern="HH:mm"
                                        timeOnly="true"
                                        value="#{registroConferencias.horaf}"
                                        maxMinute="0"
                                        disabled="true">
                                <p:ajax event="keyup" update="horafin" />

                            </p:calendar>
                            <p:outputLabel value="Nombre de la Sala" for="salasidSalas" />
                           <p:selectOneMenu id="salasidSalas" 
                                            value="#{salasController.selected.nombresalas}" 
                                         >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"
                                          />
                            <f:selectItems value="#{salasController.itemsAvailableSelectOne}"
                                           var="salasidSalasItem"
                                           itemValue="#{salasidSalasItem}"
                                           />
                        </p:selectOneMenu>
                        </p:panelGrid>
                        <br/>
                        <p:commandButton id="btnRegistrar" value="Registrar conferencias" style="border-bottom-style: solid; 
                                         background-color: yellowgreen;" action="#{registroConferencias.guardar()}"
                                         update=":growl"/>
                        <p:commandButton id="btnCancelar" value="Cancelar" style="border-bottom-style: solid; 
                                         background-color: yellowgreen;"/>
                    </div>
                </h:form>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="section-title" align="center">
                            <h3>Registro de conferencias</h3>
                            <p>Bienvenido encargado de conferencias</p>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

