<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SalasEditDlg" widgetVar="SalasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSalasTitle}">
            <h:form id="SalasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{salasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSalasLabel_idsalas}" for="idsalas" />
                        <p:inputText id="idsalas" value="#{salasController.selected.idsalas}" title="#{bundle.EditSalasTitle_idsalas}" required="true" requiredMessage="#{bundle.EditSalasRequiredMessage_idsalas}"/>
                        <p:outputLabel value="#{bundle.EditSalasLabel_capacidad}" for="capacidad" />
                        <p:inputText id="capacidad" value="#{salasController.selected.capacidad}" title="#{bundle.EditSalasTitle_capacidad}" />
                        <p:outputLabel value="#{bundle.EditSalasLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{salasController.selected.descripcion}" title="#{bundle.EditSalasTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditSalasLabel_nombresalas}" for="nombresalas" />
                        <p:inputText id="nombresalas" value="#{salasController.selected.nombresalas}" title="#{bundle.EditSalasTitle_nombresalas}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{salasController.update}" value="#{bundle.Save}" update="display,:SalasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SalasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SalasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
