/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2016, 07:47:47 PM
    Author     : erickrodrigo
*/

.section-title h3{
    color: #666 !important;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    font-weight: 300;
}

.form-group{
    color: #666;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.para-inputs{
    margin-right: 15px;
}

.panelmargen{
    margin-left: 100px; margin-right: 100px; margin-bottom: 100px; margin-top: 100px;
}

.sombra{
    position: relative;
    -webkit-box-shadow: 0 0px 1px #777, 0 0 10px #CCC inset;
    -moz-box-shadow: 0 0px 1px #777, 0 0 10px #CCC inset;
    box-shadow: 0 0px 1px #777, 0 0 10px #CCC inset;
    border: 100px; 
    border-color: black; 
    border-radius: 15px;
}