<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle2.ListGruposTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="GruposListForm">
                <p:panel header="#{bundle2.ListGruposTitle}">
                    <p:dataTable id="datalist" value="#{gruposController.items}" var="item"
                                 selectionMode="single" selection="#{gruposController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idgrupo}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListGruposTitle_idgrupo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idgrupo}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle2.Create}" actionListener="#{gruposController.prepareCreate}" update=":GruposCreateForm" oncomplete="PF('GruposCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle2.View}" update=":GruposViewForm" oncomplete="PF('GruposViewDialog').show()" disabled="#{empty gruposController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle2.Edit}" update=":GruposEditForm" oncomplete="PF('GruposEditDialog').show()" disabled="#{empty gruposController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle2.Delete}" actionListener="#{gruposController.destroy}" update=":growl,datalist" disabled="#{empty gruposController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
