<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GruposViewDlg" widgetVar="GruposViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle2.ViewGruposTitle}">
            <h:form id="GruposViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{gruposController.selected != null}">
                        <h:outputText value="#{bundle2.ViewGruposLabel_idgrupo}"/>
                        <h:outputText value="#{gruposController.selected.idgrupo}" title="#{bundle2.ViewGruposTitle_idgrupo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle2.Close}" onclick="GruposViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
