<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuariosTitle}">
            <h:form id="UsuariosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_nombreusuario}" for="nombreusuario" />
                        <p:inputText id="nombreusuario" value="#{usuariosController.selected.nombreusuario}" title="#{bundle.CreateUsuariosTitle_nombreusuario}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_nombreusuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_apellidomaternousuario}" for="apellidomaternousuario" />
                        <p:inputText id="apellidomaternousuario" value="#{usuariosController.selected.apellidomaternousuario}" title="#{bundle.CreateUsuariosTitle_apellidomaternousuario}" />
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_apellidopaternousuario}" for="apellidopaternousuario" />
                        <p:inputText id="apellidopaternousuario" value="#{usuariosController.selected.apellidopaternousuario}" title="#{bundle.CreateUsuariosTitle_apellidopaternousuario}" />
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_contrasenna}" for="contrasenna" />
                        <p:inputText id="contrasenna" value="#{usuariosController.selected.contrasenna}" title="#{bundle.CreateUsuariosTitle_contrasenna}" />
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_correousuario}" for="correousuario" />
                        <p:inputText id="correousuario" value="#{usuariosController.selected.correousuario}" title="#{bundle.CreateUsuariosTitle_correousuario}" />
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_nombresusuario}" for="nombresusuario" />
                        <p:inputText id="nombresusuario" value="#{usuariosController.selected.nombresusuario}" title="#{bundle.CreateUsuariosTitle_nombresusuario}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.create}" value="#{bundle.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuariosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuariosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
