<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template_encsalas.xhtml">

        <ui:define name="body">

            <h:form id="forma2">
                <p:growl id="msgs" showDetail="true"/>
                <p:dataTable id="datalist" value="#{registroSalas.salas}" var="item"
                             selectionMode="single" selection="#{salasController.selected}"
                             paginator="true"
                             rowKey="#{item.idsalas}"
                             rows="10"
                             rowsPerPageTemplate="10,20,30,40,50"
                             editable="true" 
                             style="margin-bottom:20px">
                    <f:facet name="header">
                        Salas registradas
                    </f:facet>

                    <p:ajax event="rowSelect"   update=""/>
                    <p:ajax event="rowUnselect" update=""/>

                    <p:column headerText="Id de la sala">
                        <f:facet name="output">
                            <h:outputText value="#{item.idsalas}"/>
                        </f:facet>
                        <h:outputText value="#{item.idsalas}" style="width:100%"/>
                    </p:column>
                    <p:column headerText="Nombre de la sala">
                        <f:facet name="output">
                            <h:outputText value="#{item.nombresalas}" />
                        </f:facet>
                        <h:outputText value="#{item.nombresalas}" style="width:100%"/>
                    </p:column>
                    <p:column headerText="Capacidad de la sala">
                        <f:facet name="output">
                            <h:outputText value="#{item.nombresalas}" />
                        </f:facet>
                        <h:outputText value="#{item.capacidad}" style="width: 100%"/>               
                    </p:column>
                    <p:column headerText="Descripción de la sala">
                        <f:facet name="output">
                            <h:outputText value="#{item.descripcion}"/>
                        </f:facet>
                        <h:outputText value="#{item.descripcion}" style="width: 100%"/>
                    </p:column>
                </p:dataTable>
                <div align="center">

                    <p:commandButton id="editButton" icon="ui-icon-pencil" value="Actualizar" 
                                     update=":SalasEditForm" oncomplete="PF('SalasEditDialog').show()"  
                                     style="border-bottom-style: solid; background-color: yellowgreen;"/>
                    <p:commandButton id="viewButton"   icon="ui-icon-search" value="Datos de la sala" 
                                     update=":FormaSalas" oncomplete="PF('DialogSalas').show()"  
                                     style="border-bottom-style: solid; background-color: yellowgreen;"/>
                    <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="Eliminar" 
                                     actionListener="#{salasController.destroy}"  
                                     update=":growl,datalist"
                                     style="border-bottom-style: solid; background-color: yellowgreen;"/>
                </div>


            </h:form>
            <ui:include src="EditarSalas.xhtml"/>
            <ui:include src="VistaDeSalas.xhtml"/>
            <div class="container">
                <div class="row">
                    <div class="section-title" align="center">
                        <h3>Actualización de salas</h3>
                        <p>Bienvenido encargado de salas</p>
                    </div>
                </div>
            </div>

        </ui:define>
    </ui:composition>
</html>


