<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SalasEditDlg" widgetVar="SalasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Actualización de ">
            <h:form id="SalasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{salasController.selected != null}">
                        <p:outputLabel value="Nombre de la sala" for="nombreSalas" />
                        <p:inputText id="nombreSalas" value="#{salasController.selected.nombresalas}" title="Nombre de la sala"
                                     required="true" requiredMessage="Campo obligatorio"
                                     validatorMessage="El nombre de la sala no admite caracteres especiales
                                     y tiene una longitud de 40 caracteres">
                            <p:tooltip for="nombreSalas" value="Por ejemplo: Sala número 1"/>
                            <f:validateLength minimum="4" maximum="40"/>
                            <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                        </p:inputText>
                        <p:outputLabel value="Capacidad" for="capacidad" />
                        <p:inputText id="capacidad" value="#{salasController.selected.capacidad}" title="Capacidad"
                                     required="true" requiredMessage="Campo obligatorio"
                                     validatorMessage="El minimo de asientos son 50 y el maximo 1000 asientos, solo valores númericos">
                            <p:tooltip for="capacidad" value="Número de asientos de la sala, mínimo 50"/>
                            <f:validateLength minimum="2" maximum="4"/>
                            <f:validateLongRange minimum="50" maximum="1000"/>
                        </p:inputText>
                        <p:outputLabel value="Descripción" for="descripcion" />
                        <p:inputText id="descripcion" value="#{salasController.selected.descripcion}" title="Descripción" 
                                     required="true" requiredMessage="Campo obligatorio"
                                     validatorMessage="La descripción debe contener solo 200 caracteres">
                            <p:tooltip for="descripcion" value="Características de la sala"/>
                            <f:validateLength minimum="4" maximum="200"/>
                        </p:inputText>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{salasController.update}" onclick="SalasEditDialog.hide()" value="Guardar"  
                                     oncomplete="handleSubmit(args, 'SalasEditDialog');"/>
                    <p:commandButton value="Cancelar" onclick="SalasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
