<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template_encsalas.xhtml">
        <ui:define name="body">
            <div style="padding-top: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="section-title" align="center">
                            <h3>Registro de salas</h3>
                            <p>Bienvenido encargado de salas</p>
                        </div>
                    </div>
                </div>
                <br/>
                <p:growl id="msgs" showDetail="true"/>
                <h:form id="forma1">
                    <div class="form-group" align="center">
                        <p:panelGrid columns="2">

                            <h:outputLabel class="section-title" for="nombreSalas" value="Nombre de la sala"></h:outputLabel>
                            <p:inputText id="nombreSalas" required="true" value="#{registroSalas.nombreSala}" 
                                         requiredMessage="Campo obligatorio"
                                         validatorMessage="El nombre de la sala no admite caracteres especiales
                                         y tiene una longitud de 40 caracteres">
                                <p:tooltip for="nombreSalas" value="Por ejemplo: Sala número 1"/>
                                <f:validateLength minimum="4" maximum="40"/>
                                <f:validateRegex pattern="^[A-Za-z0-9 ]+$"/>
                            </p:inputText>
                            <h:outputLabel class="section-title" for="capacidad">Cupo de la sala</h:outputLabel>
                            <p:inputText id="capacidad" required="true" value="#{registroSalas.capacidad}"
                                         requiredMessage="Campo obligatorio"
                                         validatorMessage="El minimo de asientos son 50 y el maximo 1000 asientos, solo valores númericos">
                                <p:tooltip for="capacidad" value="Número de asientos de la sala, mínimo 50"/>
                                <f:validateLength minimum="2" maximum="4"/>
                                <f:validateLongRange minimum="50" maximum="1000"/>
                            </p:inputText>
                            <h:outputLabel class="section-title" for="descripcion">Descripción de la sala</h:outputLabel>
                            <p:inputTextarea id="descripcion" rows="4" cols="25" 
                                             value="#{registroSalas.descripcion}" required="true"
                                             requiredMessage="Campo obligatorio"
                                             validatorMessage="La descripción debe contener solo 200 caracteres">
                                <p:tooltip for="descripcion" value="Características de la sala"/>
                                <f:validateLength minimum="4" maximum="200"/>
                            </p:inputTextarea>
                        </p:panelGrid>
                        <br/>
                        <p:commandButton id="btnRegistrar" value="Registrar sala" style="border-bottom-style: solid; 
                                         background-color: yellowgreen;" action="#{registroSalas.guardar()}"
                                         update=":growl"/>
                        <p:commandButton id="btnCancelar" value="Cancelar" style="border-bottom-style: solid; 
                                         background-color: yellowgreen;"/>
                    </div>
                </h:form>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="section-title" align="center">
                            <h3>Registro de salas</h3>
                            <p>Bienvenido encargado de salas</p>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

