<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConferenciasEditDlg" widgetVar="ConferenciasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditConferenciasTitle}">
            <h:form id="ConferenciasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conferenciasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_idconferencias}" for="idconferencias" />
                        <p:inputText id="idconferencias" value="#{conferenciasController.selected.idconferencias}" title="#{bundle.EditConferenciasTitle_idconferencias}" required="true" requiredMessage="#{bundle.EditConferenciasRequiredMessage_idconferencias}"/>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{conferenciasController.selected.descripcion}" title="#{bundle.EditConferenciasTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_fechaconferencia}" for="fechaconferencia" />
                        <p:calendar id="fechaconferencia" pattern="MM/dd/yyyy" value="#{conferenciasController.selected.fechaconferencia}" title="#{bundle.EditConferenciasTitle_fechaconferencia}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_horafin}" for="horafin" />
                        <p:calendar id="horafin" pattern="HH:mm:ss" value="#{conferenciasController.selected.horafin}" title="#{bundle.EditConferenciasTitle_horafin}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_horainicio}" for="horainicio" />
                        <p:calendar id="horainicio" pattern="HH:mm:ss" value="#{conferenciasController.selected.horainicio}" title="#{bundle.EditConferenciasTitle_horainicio}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_nombreconferencia}" for="nombreconferencia" />
                        <p:inputText id="nombreconferencia" value="#{conferenciasController.selected.nombreconferencia}" title="#{bundle.EditConferenciasTitle_nombreconferencia}" />
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_nombreponente}" for="nombreponente" />
                        <p:inputText id="nombreponente" value="#{conferenciasController.selected.nombreponente}" title="#{bundle.EditConferenciasTitle_nombreponente}" />
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_tipoconferencia}" for="tipoconferencia" />
                        <p:inputText id="tipoconferencia" value="#{conferenciasController.selected.tipoconferencia}" title="#{bundle.EditConferenciasTitle_tipoconferencia}" />
                        <p:outputLabel value="#{bundle.EditConferenciasLabel_salasidSalas}" for="salasidSalas" />
                        <p:selectOneMenu id="salasidSalas" value="#{conferenciasController.selected.salasidSalas}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{salasController.itemsAvailableSelectOne}"
                                           var="salasidSalasItem"
                                           itemValue="#{salasidSalasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conferenciasController.update}" value="#{bundle.Save}" update="display,:ConferenciasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ConferenciasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ConferenciasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
