<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <h:body>
        <p:dialog id="ConferenciasEditDlg"  header="Editar Conferencia">
            <h:form id="ConferenciasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" >
                        <p:outputLabel value="Id Conferencia" for="idconferencias" />
                        <p:inputText id="idconferencias" value="#{conferenciasController.selected.idconferencias}" title="#{bundle.EditConferenciasTitle_idconferencias}" required="true" requiredMessage="#{bundle.EditConferenciasRequiredMessage_idconferencias}"/>

                        <p:outputLabel value="Descripcion de la conferencia" for="descripcion" />
                        <p:inputText id="descripcion" value="#{conferenciasController.selected.descripcion}" title="#{bundle.EditConferenciasTitle_descripcion}" />

                        <p:outputLabel value="Fecha de la Conferencia" for="fechaconferencia" />
                        <p:calendar id="fechaconferencia" pattern="MM/dd/yyyy" value="#{conferenciasController.selected.fechaconferencia}" title="#{bundle.EditConferenciasTitle_fechaconferencia}"  showOn="button"/>

                        <p:outputLabel value="Hora Final" for="horafin" />
                        <p:calendar id="horafin" pattern="HH:mm" timeOnly="true" value="#{conferenciasController.selected.horafin}" title="#{bundle.EditConferenciasTitle_horafin}"  showOn="button"/>

                        <p:outputLabel value="Hora de Inicio" for="horainicio" />
                        <p:calendar id="horainicio" pattern="HH:mm" timeOnly="true" value="#{conferenciasController.selected.horainicio}" title="#{bundle.EditConferenciasTitle_horainicio}"  showOn="button"/>

                        <p:outputLabel value="Nombre de la conferencia" for="nombreconferencia" />
                        <p:inputText id="nombreconferencia" value="#{conferenciasController.selected.nombreconferencia}" title="#{bundle.EditConferenciasTitle_nombreconferencia}" />

                        <p:outputLabel value="Nombre del Ponente" for="nombreponente" />
                        <p:inputText id="nombreponente" value="#{conferenciasController.selected.nombreponente}" title="#{bundle.EditConferenciasTitle_nombreponente}" />

                        <p:outputLabel value="Tipo de Conferencia" for="tipoconferencia" />
                        <p:inputText id="tipoconferencia" value="#{conferenciasController.selected.tipoconferencia}" title="#{bundle.EditConferenciasTitle_tipoconferencia}" />

                        <p:outputLabel value="Nombre de la Sala" for="salasidSalas" />
                        <p:selectOneMenu id="salasidSalas" value="#{conferenciasController.selected.salasidSalas}" >
                            <f:selectItem itemLabel="Selecciona una sala"/>
                            <f:selectItems value="#{salasController.itemsAvailableSelectOne}"
                                           var="salasidSalasItem"
                                           itemValue="#{salasidSalasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conferenciasController.update}" value="#{bundle.Save}" oncomplete="handleSubmit(args, 'ConferenciasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ConferenciasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </h:body>
</html>
