<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Conferencias Registradas</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <!--<link rel="stylesheet" href="../resources/css/estilos.css"/>-->
    </h:head>

    <h:body>
        <p:growl id="growl" life="3000" />
        <div class="sombra panelmargen">
            <div class="container">
                <div class="section-title" align="center">
                    <h3>
                        <h:outputText value="Conferencias Registradas"/>

                    </h3>
                </div>
            </div>
            <h:form id="ConferenciasListForm">
                <p:growl id="growl" life="3000" />
                <p:dataTable id="datalist" value="#{conferenciasController.items}" var="item"
                             selectionMode="single" selection="#{conferenciasController.selected}"
                             paginator="true"
                             rowKey="#{item.idconferencias}"
                             rows="10"
                             rowsPerPageTemplate="10,20,30,40,50"
                             >

                    <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                    <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListConferenciasTitle_nombreconferencia}"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreconferencia}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListConferenciasTitle_nombreponente}"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreponente}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListConferenciasTitle_descripcion}"/>
                        </f:facet>
                        <h:outputText value="#{item.descripcion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListConferenciasTitle_fechaconferencia}"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaconferencia}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListConferenciasTitle_tipoconferencia}"/>
                        </f:facet>
                        <h:outputText value="#{item.tipoconferencia}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" oncomplete="PF('ConferenciasViewDialog').show()" disabled="#{empty conferenciasController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}"  oncomplete="PF('ConferenciasEditDialog').show()" disabled="#{empty conferenciasController.selected}"/>                            
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{conferenciasController.destroy}" update=":growl,datalist" disabled="#{empty conferenciasController.selected}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{conferenciasController.prepareCreate()}" oncomplete="PF('ConferenciasCreateDialog').show()"/>

                    </f:facet>
                </p:dataTable>
            </h:form>

        </div>
    </h:body>
</html>
