<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Registro de Conferencias</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <!--<link rel="stylesheet" href="../resources/css/estilos.css"/>-->
    </h:head>
    <h:body>
        <h:form id="ConferenciasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_idconferencias}" for="idconferencias" />
                        <p:inputText id="idconferencias" value="#{conferenciasController.selected.idconferencias}" title="#{bundle.CreateConferenciasTitle_idconferencias}" required="true" requiredMessage="#{bundle.CreateConferenciasRequiredMessage_idconferencias}"/>
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{conferenciasController.selected.descripcion}" title="#{bundle.CreateConferenciasTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_fechaconferencia}" for="fechaconferencia" />
                        <p:calendar id="fechaconferencia" pattern="MM/dd/yyyy" value="#{conferenciasController.selected.fechaconferencia}" title="#{bundle.EditConferenciasTitle_fechaconferencia}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_horainicio}" for="horainicio" />
                        <p:calendar id="horainicio" pattern="HH:mm" timeOnly="true" value="#{conferenciasController.selected.horainicio}" title="#{bundle.EditConferenciasTitle_horainicio}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_horafin}" for="horafin" />
                        <p:calendar id="horafin" pattern="HH:mm" timeOnly="true" value="#{conferenciasController.selected.horafin}" title="#{bundle.EditConferenciasTitle_horafin}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_nombreconferencia}" for="nombreconferencia" />
                        <p:inputText id="nombreconferencia" value="#{conferenciasController.selected.nombreconferencia}" title="#{bundle.CreateConferenciasTitle_nombreconferencia}" />
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_nombreponente}" for="nombreponente" />
                        <p:inputText id="nombreponente" value="#{conferenciasController.selected.nombreponente}" title="#{bundle.CreateConferenciasTitle_nombreponente}" />
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_tipoconferencia}" for="tipoconferencia" />
                        <p:inputText id="tipoconferencia" value="#{conferenciasController.selected.tipoconferencia}" title="#{bundle.CreateConferenciasTitle_tipoconferencia}" />
                        <p:outputLabel value="#{bundle.CreateConferenciasLabel_salasidSalas}" for="salasidSalas" />
                        <p:selectOneMenu id="salasidSalas" value="#{conferenciasController.selected.salasidSalas}" >
                            <f:selectItems value="#{salasController.itemsAvailableSelectOne}"
                                           var="salasidSalasItem"
                                           itemValue="#{salasidSalasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conferenciasController.create}"
                                     value="#{bundle.Save}" 
                                     oncomplete="handleSubmit(args,'ConferenciasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ConferenciasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
    </h:body>
</html>

