<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuariosTitle}">
            <h:form id="UsuariosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_nombreUsuario}" for="nombreUsuario" />
                        <p:inputText id="nombreUsuario" value="#{usuariosController.selected.nombreusuario}" 
                                     title="#{bundle.CreateUsuariosTitle_nombreUsuario}" required="true" 
                                     requiredMessage="#{bundle.CreateUsuariosRequiredMessage_nombreUsuario}"
                                     validatorMessage="#{bundle.validacionUsuario}">
                            <f:validateLength minimum="5" maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                            <p:tooltip for="nombreUsuario" value="#{bundle.validacionUsuario}"/>
                            <p:watermark for="nombreUsuario" value="#{bundle.watermarkUsuario}"/>               
                        </p:inputText>
                        
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_contrasenna}" for="contrasenna"/>
                        <p:password feedback="true" weakLabel="password inseguro" 
                                    goodLabel="password poco seguro" strongLabel="password muy seguro" 
                                    id="contrasenna" value="#{usuariosController.selected.contrasenna}" 
                                    title="#{bundle.CreateUsuariosTitle_contrasenna}" required="true" 
                                    match="contrasenna2" requiredMessage="#{bundle.requiredPassword}" 
                                    validatorMessage="#{bundle.validacionPassword}">
                            <f:validateLength minimum="6" maximum="45"/>
                            <f:validateRegex pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
                            <p:tooltip for="contrasenna" value="#{bundle.validacionPassword}"/>
                            <p:watermark for="contrasenna" value="#{bundle.watermarkPassword}"/>
                        </p:password>
                        
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_contrasenna2}" for="contrasenna2"/>
                        <p:password feedback="true" weakLabel="password inseguro" goodLabel="password poco seguro" 
                                    strongLabel="password muy seguro" id="contrasenna2" 
                                    value="#{usuariosController.selected.contrasenna}" 
                                    title="#{bundle.CreateUsuariosTitle_contrasenna2}" required="true"
                                    requiredMessage="#{bundle.requiredPassword}" 
                                    validatorMessage="#{bundle.validacionPassword}">
                            <f:validateLength minimum="6" maximum="45"/>
                            <f:validateRegex pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
                            <p:tooltip for="contrasenna2" value="#{bundle.validacionPassword}"/>
                            <p:watermark for="contrasenna2" value="#{bundle.watermarkConfirmPassword}"/>
                        </p:password>
                        
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_nombresUsuario}" for="nombresUsuario" />
                        <p:inputText id="nombresUsuario" value="#{usuariosController.selected.nombresusuario}" 
                                     title="#{bundle.CreateUsuariosTitle_nombresUsuario}" required="true" 
                                     requiredMessage="#{bundle.requiredNombre}"
                                     validatorMessage="#{bundle.validacionNombre}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ]+$"/>
                            <p:tooltip for="nombresUsuario" value="#{bundle.validacionNombre}"/>
                            <p:watermark for="nombresUsuario" value="#{bundle.watermarkNombre}"/>
                        </p:inputText>
                        
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_apellidoPaternoUsuario}" for="apellidoPaternoUsuario" />
                        <p:inputText id="apellidoPaternoUsuario" 
                                     value="#{usuariosController.selected.apellidopaternousuario}" 
                                     title="#{bundle.CreateUsuariosTitle_apellidoPaternoUsuario}" required="true"
                                     requiredMessage="#{bundle.requiredApaterno}" validatorMessage="#{bundle.validacionApaterno}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]+$"/>
                            <p:tooltip for="apellidoPaternoUsuario" value="#{bundle.validacionApaterno}"/>
                            <p:watermark for="apellidoPaternoUsuario" value="#{bundle.watermarkApaterno}"/>
                        </p:inputText>
                        
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_apellidoMaternoUsuario}" for="apellidoMaternoUsuario" />
                        <p:inputText id="apellidoMaternoUsuario" value="#{usuariosController.selected.apellidomaternousuario}"
                                     title="#{bundle.CreateUsuariosTitle_apellidoMaternoUsuario}" required="true"
                                     requiredMessage="#{bundle.requiredAmaterno}" validatorMessage="#{bundle.validacionAmaterno}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]+$"/>
                            <p:tooltip for="apellidoMaternoUsuario" value="#{bundle.validacionAmaterno}"/>
                            <p:watermark for="apellidoMaternoUsuario" value="#{bundle.watermarkAmaterno}"/>
                        </p:inputText>
                        
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_correoUsuario}" for="correoUsuario" />
                        <p:inputText id="correoUsuario" value="#{usuariosController.selected.correousuario}" 
                                     title="#{bundle.CreateUsuariosTitle_correoUsuario}" required="true"
                                     requiredMessage="#{bundle.requiredEmail}" validatorMessage="#{bundle.validacionEmail}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-z]{2,4}$"/>
                            <p:tooltip for="correoUsuario" value="#{bundle.validacionEmail}"/>
                            <p:watermark for="correoUsuario" value="#{bundle.watermarkEmail}"/>
                        </p:inputText>
                                                
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_gruposidGrupo}" for="gruposidGrupo" />
                        <p:selectOneMenu id="gruposidGrupo" value="#{usuariosController.selected.gruposidGrupos}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_gruposidGrupo}">
                            <f:selectItems value="#{gruposController.itemsAvailableSelectOne}"
                                           var="gruposidGrupoItem"
                                           itemValue="#{gruposidGrupoItem}"
                                           itemLabel="#{gruposidGrupoItem.idgrupo}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.create}" value="#{bundle.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuariosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuariosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
