<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GruposCreateDlg" widgetVar="GruposCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateGruposTitle}">
            <h:form id="GruposCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{gruposController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateGruposLabel_idGrupo}" for="idGrupo" />
                        <p:inputText id="idGrupo" value="#{gruposController.selected.idgrupo}" 
                                     title="#{bundle.CreateGruposTitle_idGrupo}" required="true" 
                                     requiredMessage="#{bundle.CreateGruposRequiredMessage_idGrupo}"
                                     validatorMessage="#{bundle.validacionGrupo}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-Z]+$"/>
                            <p:tooltip for="idGrupo" value="#{bundle.validacionGrupo}"/>
                            <p:watermark for="idGrupo" value="#{bundle.watermarkGrupo}"/>
                        </p:inputText>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{gruposController.create}" value="#{bundle.Save}" update="display,:GruposListForm:datalist,:growl" oncomplete="handleSubmit(args,'GruposCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GruposCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
