<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GruposEditDlg" widgetVar="GruposEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGruposTitle}">
            <h:form id="GruposEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{gruposController.selected != null}">
                        <p:outputLabel value="#{bundle.EditGruposLabel_idGrupo}" for="idGrupo" />
                        <p:inputText id="idGrupo" value="#{gruposController.selected.idgrupo}" title="#{bundle.EditGruposTitle_idGrupo}" required="true" requiredMessage="#{bundle.EditGruposRequiredMessage_idGrupo}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{gruposController.update}" value="#{bundle.Save}" update="display,:GruposListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GruposEditDialog');" onclick="GruposEditDialog.hide()"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GruposEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
