<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle2.ListUsuariosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="UsuariosListForm">
                <p:panel header="#{bundle2.ListUsuariosTitle}">
                    <p:dataTable id="datalist" value="#{usuariosController.items}" var="item"
                                 selectionMode="single" selection="#{usuariosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.nombreusuario}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_nombreusuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreusuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_apellidomaternousuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidomaternousuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_apellidopaternousuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidopaternousuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_contrasenna}"/>
                            </f:facet>
                            <h:outputText value="#{item.contrasenna}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_correousuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.correousuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_nombresusuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombresusuario}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListUsuariosTitle_gruposidGrupos}"/>
                            </f:facet>
                            <h:outputText value="#{item.gruposidGrupos}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle2.Create}" actionListener="#{usuariosController.prepareCreate}" update=":UsuariosCreateForm" oncomplete="PF('UsuariosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle2.View}" update=":UsuariosViewForm" oncomplete="PF('UsuariosViewDialog').show()" disabled="#{empty usuariosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle2.Edit}" update=":UsuariosEditForm" oncomplete="PF('UsuariosEditDialog').show()" disabled="#{empty usuariosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle2.Delete}" actionListener="#{usuariosController.destroy}" update=":growl,datalist" disabled="#{empty usuariosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
