<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosViewDlg" widgetVar="UsuariosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle2.ViewUsuariosTitle}">
            <h:form id="UsuariosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_nombreusuario}"/>
                        <h:outputText value="#{usuariosController.selected.nombreusuario}" title="#{bundle2.ViewUsuariosTitle_nombreusuario}"/>
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_apellidomaternousuario}"/>
                        <h:outputText value="#{usuariosController.selected.apellidomaternousuario}" title="#{bundle2.ViewUsuariosTitle_apellidomaternousuario}"/>
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_apellidopaternousuario}"/>
                        <h:outputText value="#{usuariosController.selected.apellidopaternousuario}" title="#{bundle2.ViewUsuariosTitle_apellidopaternousuario}"/>
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_contrasenna}"/>
                        <h:outputText value="#{usuariosController.selected.contrasenna}" title="#{bundle2.ViewUsuariosTitle_contrasenna}"/>
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_correousuario}"/>
                        <h:outputText value="#{usuariosController.selected.correousuario}" title="#{bundle2.ViewUsuariosTitle_correousuario}"/>
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_nombresusuario}"/>
                        <h:outputText value="#{usuariosController.selected.nombresusuario}" title="#{bundle2.ViewUsuariosTitle_nombresusuario}"/>
                        <h:outputText value="#{bundle2.ViewUsuariosLabel_gruposidGrupos}"/>
                        <h:outputText value="#{usuariosController.selected.gruposidGrupos}" title="#{bundle2.ViewUsuariosTitle_gruposidGrupos}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle2.Close}" onclick="UsuariosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
