<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsersCreateDialog" widgetVar="UsersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle2.CreateUsuariosTitle}">
            <h:form id="UsersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_nombreUsuario}" for="nombreUsuario" />
                        <p:inputText id="nombreUsuario" value="#{usersBean.users}" 
                                     title="#{bundle.CreateUsuariosTitle_nombreUsuario}" required="true" 
                                     requiredMessage="#{bundle.CreateUsuariosRequiredMessage_nombreUsuario}"
                                     validatorMessage="#{bundle.validacionUsuario}">
                            <f:validateLength minimum="5" maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                            <p:tooltip for="nombreUsuario" value="#{bundle.validacionUsuario}"/>
                            <p:watermark for="nombreUsuario" value="#{bundle.watermarkUsuario}"/>               
                        </p:inputText>

                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_contrasenna}" for="contrasenna"/>
                        <p:password feedback="true" weakLabel="password inseguro" 
                                    goodLabel="password poco seguro" strongLabel="password muy seguro" 
                                    id="contrasenna" value="#{usersBean.contrasenna}" 
                                    title="#{bundle.CreateUsuariosTitle_contrasenna}" required="true" 
                                    match="contrasenna2" requiredMessage="#{bundle.requiredPassword}" 
                                    validatorMessage="#{bundle.validacionPassword}">
                            <f:validateLength minimum="6" maximum="45"/>
                            <f:validateRegex pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
                            <p:tooltip for="contrasenna" value="#{bundle.validacionPassword}"/>
                            <p:watermark for="contrasenna" value="#{bundle.watermarkPassword}"/>
                        </p:password>

                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_contrasenna2}" for="contrasenna2"/>
                        <p:password feedback="true" weakLabel="password inseguro" goodLabel="password poco seguro" 
                                    strongLabel="password muy seguro" id="contrasenna2" 
                                    value="#{usersBean.contrasenna}" 
                                    title="#{bundle.CreateUsuariosTitle_contrasenna2}" required="true"
                                    requiredMessage="#{bundle.requiredPassword}" 
                                    validatorMessage="#{bundle.validacionPassword}">
                            <f:validateLength minimum="6" maximum="45"/>
                            <f:validateRegex pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
                            <p:tooltip for="contrasenna2" value="#{bundle.validacionPassword}"/>
                            <p:watermark for="contrasenna2" value="#{bundle.watermarkConfirmPassword}"/>
                        </p:password>

                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_nombresUsuario}" for="nombresUsuario" />
                        <p:inputText id="nombresUsuario" value="#{usersBean.nombre}" 
                                     title="#{bundle.CreateUsuariosTitle_nombresUsuario}" required="true" 
                                     requiredMessage="#{bundle.requiredNombre}"
                                     validatorMessage="#{bundle.validacionNombre}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ]+$"/>
                            <p:tooltip for="nombresUsuario" value="#{bundle.validacionNombre}"/>
                            <p:watermark for="nombresUsuario" value="#{bundle.watermarkNombre}"/>
                        </p:inputText>

                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_apellidoPaternoUsuario}" for="apellidoPaternoUsuario" />
                        <p:inputText id="apellidoPaternoUsuario" 
                                     value="#{usersBean.apaterno}" 
                                     title="#{bundle.CreateUsuariosTitle_apellidoPaternoUsuario}" required="true"
                                     requiredMessage="#{bundle.requiredApaterno}" validatorMessage="#{bundle.validacionApaterno}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]+$"/>
                            <p:tooltip for="apellidoPaternoUsuario" value="#{bundle.validacionApaterno}"/>
                            <p:watermark for="apellidoPaternoUsuario" value="#{bundle.watermarkApaterno}"/>
                        </p:inputText>

                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_apellidoMaternoUsuario}" for="apellidoMaternoUsuario" />
                        <p:inputText id="apellidoMaternoUsuario" value="#{usersBean.amaterno}"
                                     title="#{bundle.CreateUsuariosTitle_apellidoMaternoUsuario}" required="true"
                                     requiredMessage="#{bundle.requiredAmaterno}" validatorMessage="#{bundle.validacionAmaterno}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]+$"/>
                            <p:tooltip for="apellidoMaternoUsuario" value="#{bundle.validacionAmaterno}"/>
                            <p:watermark for="apellidoMaternoUsuario" value="#{bundle.watermarkAmaterno}"/>
                        </p:inputText>

                        <p:outputLabel value="#{bundle.CreateUsuariosLabel_correoUsuario}" for="correoUsuario" />
                        <p:inputText id="correoUsuario" value="#{usersBean.email}" 
                                     title="#{bundle.CreateUsuariosTitle_correoUsuario}" required="true"
                                     requiredMessage="#{bundle.requiredEmail}" validatorMessage="#{bundle.validacionEmail}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-z]{2,4}$"/>
                            <p:tooltip for="correoUsuario" value="#{bundle.validacionEmail}"/>
                            <p:watermark for="correoUsuario" value="#{bundle.watermarkEmail}"/>
                        </p:inputText>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersBean.Guardar()}" value="#{bundle2.Save}" update=":growl" oncomplete="handleSubmit(args,'UsersCreateDialog');"/>
                    <p:commandButton value="#{bundle2.Cancel}" onclick="UsersCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
