<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
                <h:outputStylesheet name="css/jsfcrud.css"/>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Header
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Demo" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    Welcome to PrimeFaces
                </p:layoutUnit>

            </p:layout>

            <br />
            <h:link outcome="/backend/conferencias/List" value="Show All Conferencias Items"/>
            <br />
            <h:link outcome="/backend/grupos/List" value="Show All Grupos Items"/>
            <br />
            <h:link outcome="/backend/salas/List" value="Show All Salas Items"/>
            <br />
            <h:link outcome="/backend/usuarios/List" value="Show All Usuarios Items"/>
            <br />
            <h:link outcome="/backend/usuariosHasConferencias/List" value="Show All UsuariosHasConferencias Items"/>
            <br />
            <h:link outcome="/backend/crud/conferencias/List" value="Show All Conferencias Items"/>
            <br />
            <h:link outcome="/backend/crud/grupos/List" value="Show All Grupos Items"/>
            <br />
            <h:link outcome="/backend/crud/salas/List" value="Show All Salas Items"/>
            <br />
            <h:link outcome="/backend/crud/usuarios/List" value="Show All Usuarios Items"/>
            <br />
            <h:link outcome="/backend/crud/usuariosHasConferencias/List" value="Show All UsuariosHasConferencias Items"/>
            <br />
            <h:link outcome="/CRUD/grupos/List" value="Show All Grupos Items"/>
            <br />
            <h:link outcome="/CRUD/usuarios/List" value="Show All Usuarios Items"/>
        </h:body>













    </f:view>
</html>

