<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="bootstrap.css" />
        <h:outputStylesheet library="css" name="font-awesome.css" />
        <h:outputStylesheet library="css" name="custom.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </h:head>
    <h:body>
        <p:growl id="growl" life="3000" />
        <p:layout fullPage="true">
            <div id="wrapper">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="adjust-nav">
                        <div class="navbar-header">
                            <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button-->
                            <a class="navbar-brand" href="#">
                                <h:graphicImage height="60p" library="img" name="logo.png"/>
                            </a>
                        </div>

                        <!--span class="logout-spn" -->
                        <div align="right">
                            <h:form>
                                <h:commandButton action="#{loginBean.logout()}" value="Salir" />
                            </h:form>
                        </div>

                        <!--/span-->
                    </div>
                </div>

                <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="main-menu">
                            <li>
                                <a href="/conferencias/index/backend/root/usuarios/List.xhtml"><i class="fa fa-user "></i>Usuarios</a>
                            </li>
                            <li>
                                <a href="/conferencias/index/backend/root/grupos/List.xhtml"><i class="fa fa-user "></i>Grupos</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- /. NAV SIDE  -->
                <p:layoutUnit position="center">
                    <div id="page-wrapper" style="padding-top: 110px;" >
                        <div id="page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <ui:insert name="body"/>
                                </div>
                            </div>       
                            <hr/>
                        </div>
                        <!-- /. PAGE INNER  -->
                    </div>
                </p:layoutUnit>   
                <!-- /. PAGE WRAPPER  -->
            </div>
            <p:layoutUnit position="south" size="80">

                <div class="footer">

                    <ui:insert name="footer"/>
                    <div class="row" align="center">
                        <div class="col-lg-12" >
                            &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;"  target="_blank">www.binarytheme.com</a>
                        </div>
                    </div>
                </div>
            </p:layoutUnit>
        </p:layout>
    </h:body>

</html>
