<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><ui:insert name="title">Encargado de conferencias</ui:insert></title>
        <h:outputStylesheet library="css" name="bootstrap.css" />
        <h:outputStylesheet library="css" name="font-awesome.css" />
        <h:outputStylesheet library="css" name="custom.css" />
        <link rel="stylesheet" href="../resources/css/estilos.css"/>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </h:head>
    <h:body>
        <p:growl id="growl" life="3000" />
        <p:layout fullPage="true">
            <div id="wrapper">
                <p:layoutUnit position="north" size="100">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="adjust-nav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                    <h2>ConferCenter</h2>
                                </a>
                            </div>

                            <span class="logout-spn" >

                                <h:form>
                                    <h:commandButton action="#{loginBean.logout()}" value="Salir" />
                                </h:form> 

                            </span>
                        </div>
                    </div>
                </p:layoutUnit>
                <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation" style="margin-top: 130px;">
                <div class="sidebar-collapse" >
                    <ul class="nav" id="main-menu">
                        <li>
                            <a href="/conferencias/index/backend/encConferencias/conferencias/ActualizarConferencias.xhtml"><i class="fa fa-table "></i>Actualizar Conferencias</a>
                        </li>
                        <li>
                            <a href="/conferencias/index/backend/encConferencias/conferencias/RegistrarConferencias.xhtml"><i class="fa fa-table "></i>Registrar Conferencias</a>
                        </li>
                        <li>
                            <a href="/conferencias/index/backend/encConferencias/conferencias/DetallesSalas.xhtml"><i class="fa fa-table "></i>Informacion de las Salas</a>
                        </li>

                    </ul>
                </div>

                </nav>
                <!-- /. NAV SIDE  -->
                <p:layoutUnit position="center">

                    <div id="page-wrapper" style="" >
                        <div id="page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <ui:insert name="body" />
                                </div>
                            </div>              
                            <!-- /. ROW  -->
                            <hr />

                            <!-- /. ROW  -->           
                        </div>
                        <!-- /. PAGE INNER  -->
                    </div>
                </p:layoutUnit>   
                <!-- /. PAGE WRAPPER  -->
            </div>
            <p:layoutUnit position="south" size="60">

                <div class="footer">

                    <ui:insert name="footer"/>
                </div>
            </p:layoutUnit>
        </p:layout>
    </h:body>

</html>
